<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li><a href="/produk">Produk</a></li>
                    <li><a href="/publikasi">Publikasi</a></li>
                    <li><a href="/news">Berita</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>

<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/assets/js/clean-blog.min.js"></script>
